<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>templates</title>
</head>
<body>
    <header>
        <p>LOGO CORPORATIVO</p>
    </header>
    <nav>
        <a href="https://www.ucsp.edu.pe">Visita la UCSP</a>
    </nav>
    <section>
        <p><i> NINININI </i></p>
        <p>This is <sub> adda </sub> and <sup> sucprilkkdkkd</sup></p>
    </section>
    <aside>
        <p>PUblicitAD</p>
    </aside>
    <p>eSte es un parrafo</p>
    <p>eSte es un parrafo</p>
    <b>stelman troll</b>
</body>
</html>